body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif
}

.w3-row-padding img {
    margin-bottom: 12px
}

.w3-sidebar {
    width: 120px;
    background: #1B263B;
}

#main {
    margin-left: 120px
}

body {
    background: #0D1B2A;
}

nav i,
p {
    color: white;
}

header {
    color: aliceblue;
}

.bar {
    background-color: #79a3d1;
}

#dwnld_btn {
    background-color: #1B263B !important;
    color: #f2f4f5 !important;
    border: 2px solid #3498DB;
    border-radius: 12px;
}

#dwnld_btn:hover {
    background: linear-gradient(to right, #8E44AD, #3498DB, #00B4D8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid #1d2d49;
}

#submit-btn {
    background-color: #1B263B !important;
    color: #f2f4f5 !important;
    border: 2px solid #3498DB;
    border-radius: 12px;
}

#submit-btn:hover {
    background: linear-gradient(to right, #8E44AD, #3498DB, #00B4D8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 2px solid #1d2d49;

}

.gradient-text {
    background: linear-gradient(to right, #8E44AD, #3498DB, #00B4D8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.gd {
    color: #ebf2f3;
}

.w3-bar {
    color: white;
}

.w3-bar-item i {
    background: linear-gradient(to right, #8E44AD, #3498DB, #00B4D8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.w3-content h2 {
    background: linear-gradient(to right, #8E44AD, #3498DB, #00B4D8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.bx,
.fas {
    background: linear-gradient(to right, #8E44AD, #3498DB, #00B4D8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}


.gradient-hover-card {
    position: relative;
    width: 320px;
    height: 420px;
    overflow: hidden;
    border-radius: 20px;
    margin: auto;
    cursor: pointer;
    box-shadow: 0 12px 50px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

.gradient-hover-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
    display: block;
}

.gradient-hover-card:hover img {
    transform: scale(1.08);
}

/* Gradient mask overlay */
.gradient-hover-card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65%;
    background: linear-gradient(to top, rgba(13, 27, 42, 0.8), rgba(13, 27, 42, 0), transparent);
    transition: opacity 0.5s ease;
    z-index: 1;
}

/* Text + Button */
.overlay-content {
    position: absolute;
    bottom: 30px;
    left: 20px;
    right: 20px;
    z-index: 2;
    color: #ffffff;
    text-align: left;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.gradient-hover-card:hover .overlay-content {
    opacity: 1;
}

.overlay-content h2 {
    margin: 0 0 10px;
    font-size: 1.5rem;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.overlay-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #8E44AD;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 500;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}

.overlay-btn:hover {
    background-color: #1d2d49;
    border: 1px solid #ffffff;
}

.overlay-btn:hover .gradient-text-hover {
    background: linear-gradient(to right, #8E44AD, #3498DB, #00B4D8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.w3-bar-item:hover {
    animation: pulse 0.4s ease forwards;
    color: var(--main-color);
}

@keyframes pulse {
    0% {
        transform: scale(.8);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(.8);
    }
}

#up_arrow:hover {
    animation: bounceUp 0.6s ease forwards;
}

@keyframes bounceUp {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.bx:hover {
    animation: bounceUp 0.6s ease forwards;
    color: rgb(217, 234, 217);
}

@keyframes bounceUp {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

form input {
    background: linear-gradient(#0f3751, #0a588d);
    border-radius: 12px;
    color: #fff;
    transition: all 0.3s ease;
}

form p {
    border: 2px solid #3e66ab;
    border-radius: 12px;
}

form input:focus {
    outline: none;
    box-shadow: 0 0 8px #00c3ff;
    background: linear-gradient(to right, #174769, #1171b1);
}

/* On autofill (Chrome fix) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #174769 inset !important;
    -webkit-text-fill-color: #fff !important;
    transition: background-color 5000s ease-in-out 0s;
}

/* portfolio */
.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 3.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 0;
    box-shadow: 0 0 1rem #1d2d49;
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
    object-fit: cover;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #141e30, #243b55);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    border: 2px solid #acb3c0;
    backdrop-filter: blur(6px);
    opacity: 0;
    transition: 0.3s ease-in-out;

}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
    opacity: 1;
}

.portfolio-layer h3 {
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(to right, #8E44AD, #3498DB, #00B4D8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.portfolio-layer p {
    font-size: 1.2rem;
    margin: .3rem 0 1rem;
    color: rgb(255, 255, 255);
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    text-decoration: none;
}

.portfolio-layer a i {
    font-size: 2rem;
}

/* responsive */


@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0
    }
}

@media (max-width:991px) {
    .portfolio {
        padding-bottom: 7rem;
    }
}

@media (max-width:768px) {
    .portfolio-container {
        grid-template-columns: repeat(2, auto);

    }

}

@media (max-width:617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }

}

/* email */
/* Hide mobile link by default */
.mobile-email {
    display: none;
}

/* Show mobile version*/
@media only screen and (max-width: 768px) {
    .desktop-email {
        display: none;
    }

    .mobile-email {
        display: inline;
    }
}

#myNavbar{
    z-index: 1000;
     visibility: visible;
}
@media screen and (max-width: 600px) {
  .hero-header {
    margin-top: 48px; /* Adjust to your navbar height */
  }
}